@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.dropdown-toggle {
  font-family: 'Roboto', sans-serif;
  color:lightslategrey;
  font-size: 20px;
  white-space: nowrap;
}
.nav-link{
  background-color: #212529 !important;
}
