  <div class = "card">
     <div class = "img-wrapper">
    <img class="card-img-top" src="assets/images/defaultHouse.png">
  </div>
    <div class= "card-body p2">
      <h3>{{property.Name}}</h3>
      <p>{{property.Address}}</p>
      <p>{{property.Type}}</p>
      <p>{{property.Price}}$</p>
      <ul class= "button-list">
        <li class="list-inline-item">
          <button class="btn btn-primary" routerLink="/property-details/{{property.Id}}">Details</button>
        </li>
        <li class="list-inline-item">
          <!-- TODO CHECK IF USER IS THE ONE THAT CREATED THE PROPERTY -->
          <button class="btn btn-primary" routerLink="/property-edit/{{property.Id}}">Edit</button>
        </li>
      </ul>
    </div>
